/* YAML */
div.frontmatter-section {
  display: none !important;
}
.frontmatter-section:is(.mod-aliases, .mod-tags) {
  display: flex !important;
}
.frontmatter-container-header {
  display: none !important;
}
